# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.CalculatorPipeline.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\rados\OneDrive\Dokumenty\GitHub\CalculatorPipeline\.idea\.idea.CalculatorPipeline\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
